@page
<div class="container">
	<div class="row">&nbsp;</div>
	<div class="row">
		<div class="col-6">&nbsp;</div>
		
	</div>
	<div class="row">
		<div class="col-12">
			Home Name <input type="text" id="home-name" />
			Home Score <input type="text" id="home-score" />
			Away Name <input type="text" id="away-name" />
			Away Score <input type="text" id="away-score" />
			<div id="ident"></div>
			<input type="button" id="sendButton" value="Update Score" />
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-6">&nbsp;</div>
		<div class="col-6">
			<ul id="messagesList"></ul>
		</div>
	</div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="~/js/quick.js"></script>