@page
<div class="container">
	<div class="row">
		<div class="col-sm-3">
			Home Name <input type="text" id="home-name" />
		</div>
		<div class="col-sm-3">
			Home Score <input type="text" id="home-score" />
		</div>
		<div class="col-sm-3">
			Away Name <input type="text" id="away-name" />
		</div>
		<div class="col-sm-3">
			Away Score <input type="text" id="away-score" />
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2" id="ident" style="visibility: hidden;"></div>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<input type="button" class="btn btn-primary" id="sendButton" value="Update Score" />
		</div>
		<div class="col-sm-2">
			<input type="button" class="btn btn-warning" id="clearButton" value="Clear Scores" />
		</div>
	</div>
	<br />
	<div class="row">
		<div class="coll-sm-2" id="current-time"></div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<ul id="messagesList"></ul>
		</div>
	</div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="~/js/quick.js"></script>